<div class="row">

  <div class="col-md-4 mb-5">
    <!-- Card 1 -->
    <a href="https://startingovertoronto.com/" class="text-decoration-none text-black">
      <div class="card">
        <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fong & Partners Inc</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic non, totam consequuntur sit
            provident autem!</p>
          <div class="text-end"><button class="btn btn-primary">Read More</button></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-5">
    <!-- Card 2 -->
    <a href="https://davidsklar.com/" class="text-decoration-none text-black">
      <div class="card">
        <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">David Sklar & Associates Inc.</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic non, totam consequuntur sit
            provident autem!</p>
          <div class="text-end"><button class="btn btn-primary">Read More</button></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <!-- Card 3 -->
    <a href="https://www.spergel.ca/" class="text-decoration-none text-black">
      <div class="card">
        <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MSI Spergel Inc</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic non, totam consequuntur sit
            provident autem!</p>
          <div class="text-end"><button class="btn btn-primary">Read More</button></div>
        </div>
      </div>
    </a>
  </div>

</div>