<div class="w-100 bg-dark-subtle p-5 mb-5">
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat iusto explicabo et voluptatum ipsam fugit
        distinctio in vel. Ab laborum natus ratione laboriosam deleniti distinctio provident incidunt recusandae quae
        cumque
        dolorum placeat aliquid, delectus illum nam!</p>
    </div>
    <div class="col">
      <form action="https://formspree.io/f/mvonevap" method="POST">
        <div class="row">
          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name" />
          <label for="mail">E-mail:</label>
          <input type="email" id="mail" name="user_mail" />
          <label for="phone">Phone:</label>
          <input type="phone" id="phone" name="user_phone" />
          <label for="msg">Message:</label>
          <textarea id="msg" name="user_message"></textarea>
          <button type="submit" class="btn btn-primary btn-lg mt-5">
            Contact us for more information
          </button>
        </div>
      </form>
    </div>
  </div>
</div>